body{
    color:  rgb(57,60,65);
}
html{
    scroll-behavior: smooth;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(57,60,65)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar{
    background-color: white;
}
.navbar a{
    color: rgb(57,60,65);
    font-weight: bold;
    letter-spacing: 1.5px;
}
.navbar a:hover{
    color: black;
}
.hero-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.btn-success{
    background-color:rgba(0,0,0,0.5);
    border: none;
    padding: 10px 46px 10px 46px;
    border-radius: 20px;
}
.btn-danger{
    background-color:rgba(255,255,255,0.5);
    border: none;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
}
.btn-success:hover{
    background-color:rgba(0,0,0,0.5);
}
.btn-danger:hover{
    background-color:rgba(255,255,255,0.5);
}

/* @media only screen and (max-width: 1024px) {
    .navbar{
        background-color: white;
    }
} */
